<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- link -->
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <title>Profile</title>
</head>


<body class="w3-center">

   <!-- Profile -->
<!--    <div class="w3-card w3-round w3-white">
      <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
      </div>
   </div>
   <br> -->


   <div class="w3-container" id="contact">
      <h2>Profile</h2>
      <!--          <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
         <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
         <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
         <p>Questions? Go ahead, ask them:</p> -->
         <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
      <form action="/action_page.php" target="_blank">
         <p><input class="w3-input w3-border" type="text" placeholder="Username" required name="Username"></p>
         <p><input class="w3-input w3-border" type="text" placeholder="Job" required name="Job"></p>
         <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
         <p><input class="w3-input w3-border" type="text" placeholder="Birthday" required name="Date"></p>
         <p><input class="w3-input w3-border" type="text" placeholder="Location" required name="Location"></p>
         <p><textarea class="w3-input w3-border" type="text" placeholder="Description" required name="Description"></textarea></p>
         <button type="submit" class="w3-button w3-green w3-third">Save changes</button>
      </form>
   </div>

   <!-- Footer -->
   <footer class="w3-container w3-theme-d3 w3-padding-16 w3-bottom">
      <h5></h5>
   </footer>

   <script>

   </script>

</body>

</html>